
h1 {
    text-align: center;
    color: rgb(5, 5, 5);
  }
  h4 {
    color: rgb(7, 7, 7);
  }
  
  .lable {
    color: rgb(10, 10, 10);
  }
  .sign {
    margin-top: 0px;
  }
  .Margin {
    margin-top: 4rem;
    border-radius: 47px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
    margin-left: 18rem;
    margin-right: 18rem;
    max-height: 800px;
  }
  
  .signbut {
    margin-top: 2px;
    margin-left: 2rem;
  }
  .btnAlign {
    padding-top: 1rem;
    text-align: center;
  }
  .inputFieldAlign {
    width: 12rem;
  }
  