
  .Footer{
    background-color: #0872c9;
    padding: 3rem;
    border: 3px solid rgb(10, 10, 10);
    margin-left: 4px;
    margin-top: 1rem;
  }
  .top-menu{
    color: azure;
  }
  .t-menu{
    margin: 2rem;
  }
  .b-menu{
    margin: 2rem;
    color: beige;
  }
  .bottom-menu{
    margin-top:4rem;
  }
  .footer-icons{
    color: aliceblue;
    margin: 1rem;
    font-size: 30px;
  }